# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# production
storybook-static

# misc
.DS_Store
.env
npm-debug.log

# jest test 
src/tests/__snapshots__/

.DS_Store
../.DS_Store
../../.DS_Store

#ignore wallaby.js
wallaby.js
babel.config.js
jest.config.js
svgTransform.js