audit=false
audit-level="moderate"
engine-strict=true
format-package-lock=true
lockfile-version=3
loglevel="info"
prefer-offline=false
progress=false
save-exact=false
timing=false
update-notifier=false
yes=true
prefer-dedupe=true
fund=false
