<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <meta name="description" content="The path to your next open-source contribution." />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#FFFFFF" />

    <meta property="dcterms:modified" content="<%= date %>" />

    <!-- For facebook, linkedin etc -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:url" content="https://app.opensauced.pizza" />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content="Open Sauced provides structured onboarding for new contributors to open source. This structure provides a way to track your next contributions by leveraging a unique dashboard built on top of the GitHub GraphQL API."
    />
    <meta property="og:image" content="/social-card.png" />

    <!-- for twitter -->
    <meta property="twitter:title" content="Open Sauced" />
    <meta property="twitter:url" content="https://app.opensauced.pizza" />
    <meta property="twitter:type" content="article" />

    <meta
      property="twitter:description"
      content="Open Sauced is a platform to gain insights on open source contributors and their contributions."
    />
    <meta property="twitter:image" content="/social-card.png" />

    <meta name="theme-color" content="#FFFFFF" />
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="/src/index.jsx"></script>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start`.
      To create a production bundle, use `npm run build`.
    -->
  </body>
</html>
