.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Form {
  padding: 16px;
}

ul.smaller-words {
  font-size: 12px;
}

textarea.boxed-input {
  height: 100px;
  width: 50%;
}
